compile_commands.json
doc/cpp2rst_generated

buildSAN
build
build_*
./quickvim.sh
*.swp
.clangd

doc/notes/inchworm_notes.aux
doc/notes/inchworm_notes.log
doc/notes/inchworm_notes.out
doc/notes/inchworm_notes.pdf

compile.sh
compileSAN.sh
