compile_commands.json
doc/cpp2rst_generated

tci_v1
buildSAN
build
build_*
./quickvim.sh
*.swp
.clangd
.vscode

doc/notes/inchworm_notes.aux
doc/notes/inchworm_notes.log
doc/notes/inchworm_notes.out
doc/notes/inchworm_notes.pdf

compile.sh
compileSAN.sh
